@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* стилизация хэдэра */
.page-header {
  background-color: #FFE17F;
  color: #000000;
  margin: 0 auto;
  width: 1160px;
}


/* мелкие сетки: логотип хэдэра */
.logo-page-header-link {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 17px;
}

/* мелкие сетки: форма поиска и меню пользователя */

.navigation-form {
  display: flex;
  margin-bottom: 30px;
}

/* .navigation-product-search {
  гриды
} */

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-between;
  /* width: 100%; */
}

.navigation-user li:first-child {
  margin-right: auto;
}

.navigation-item:not(:last-child) {
  margin-right: 36px
}


.search-product {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: inherit;
  background-color: inherit;
}

.navigation-link {
  margin-left: 18px;
  padding: 8px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}



/* мелкие сетки: каталог с плюсиком и ссылки */

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list li:first-child {
  margin-right: auto;
}

.header-menu-item:not(:last-child){
  margin-right: 47px;
}
/*  слайдер */

.slider-item {
  display: flex;
  width: 1111px;
  margin-top: 2px;
  margin-bottom: 70px;
}

.slider-description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;

  /* мелкая сетка слайдер, сказали на гридах лучше делать */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


.slider-current {
  /* мелкая сетка слайдер, лучше на гридах */
  min-width: 250px;
  min-height: 135px;
  margin-right: auto;

  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #FFE17F;
  text-align: right;
}

/* мелкие сетки: три точки(пагинация) товара слайдерах */
.slider-pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.slider-description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}

.slider-description-item {
  color: #444444;
}

.slider-advanteges dt {
  font-size: 36px;
}

.slider-advanteges dd {
  font-size: 16px;
  color: #444444;
}

/* стилизация ссылок категории товаров */

/* мелкие сетки: стилизация ссылок категории товаров */

.categoty-list {
  margin-bottom: 70px;
}



.categoty-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.02em;

}

.category-list-item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.category-list-image {
  align-items: center;
  justify-content: center;
}


.categoty-item-link {
  width: 160px;
  height: 252px;
  display: flex;
  flex-direction: column;
}


.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #FFE17F;
}


/* стилизация ссылок возможностей сервиса */

/* мелкие сетки: контейнер возможностей сервиса */
.advanteges-wrapper {
  display: flex;
  margin-bottom: 70px;
  background-color: #F0F0F0;

}
.advanteges-container {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  color: inherit;
  background-color: #F0F0F0;
}

/* мелкие сетки: стилизация меню возможностей */
.advanteges-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.advanteges-link {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-top: 64px;
  margin-right: 120px;

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

}

.advanteges-link-current {
  color: #FFE17F;
  background-color: #000000;
}

/* стилизация описаний возможностей сервиса */

.advanteges-text-container {
  display: flex;
}

/* .advanteges-header {
  display: block;
  margin-top: 74px;
} */

.advanteges-service {
  display: flex;
  flex-direction: column;
  /* margin-top: 72px;
  margin-bottom: 72px; */
  margin-left: 116px;
  margin-right: 106px;
}

.advanteges-header {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}

.advanteges-description {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.image-advanteges {
  display: block;
  margin-top: 74px;
  margin-right: 63px;
  margin-left: 106px;
}

/* стилизации доставки редкого товара */

/* мелкие сетки: стилизация доставки редкого товара */

.delivery-exclusive-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  display: flex;
  /* align-items: stretch; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  margin: 0 auto;
  width: 1160px;


  background-color: #F0F0F0;
}

.deliverycar {
  display: flex;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  justify-content: center;
  align-items: center;
}

/* стилизация части о компании */

.index-columns {
  display: flex;
  margin-top: 70px;

}

.about {
  width: 520px;
  margin-right: 130px;
  margin-left: 140px;
}

.contacts {
  width: 532px;

}

.about h2, .contacts h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.about p, .contacts p {
  font-style: normal;
  color: #444444;
}

.about ul {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about h3, .contacts h3 {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.contacts-phone {
  color: #444444;;
  font-style: normal;
  text-decoration: underline;
}

.contacts ul {
  color: #444444;
}

/* стилизация рассылки */
.subscription {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.subscription-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 144px;
}

.subscription-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;

  display: block;
  margin-right: 252px;
}

.subscription-description {
  color: #444444;

  display: block;
}

.subscription-form {
  display: flex;
}

.subscription-email {
  margin-right: 220px;
}
.postscript {
  color: #444444;
}

/* стилизация футера */

.page-footer-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}


.page-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-between;
  margin-bottom: 62px;

}

.logo-page-footer-link {
  display: block;
  margin-right: auto;
  margin-top: 62px;
  margin-bottom: 32px;
  margin-left: 140px;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;

}

.footer-content {
  display: block;
  margin-right: 112px;
  margin-left: 140px;
  width: 100%;
}

.footer-contacts {
  padding: 0;
  margin: 0;
}

.footer-social-container {
  display: flex;
  margin: 0 auto;
}

.footer-menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}


.footer-contacts-container {
  display: block;
  margin-left: 190px;
  margin-right: 140px;
  width: 100%;
}

/* тут должна быть штучка, из-за которой не отрабатывает спейс-битвин */
.footer-social-link {
  display: flex;
  margin-top: 62px;
  margin-left: auto;
  margin-right: 140px;

}

.footer-social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin-right: 390px;

}

.footer-social-list li:not(:last-child) {
  margin-right: 5px;
}

.about-text {
  display: block;
  width: 100%;
}


.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  color: inherit;
  text-decoration-line: underline;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

}

.footer-menu-list li:not(:last-child)  {
  margin-right: 35px;
}


/* стилизация каталога */

.main-inner {
  padding-top: 36px;
}
/* стилизация заголовка */
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}

/* стилизация хлебных крошек */
.inner-header {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: inherit;

  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item-link {
  text-decoration: none;
  color: inherit;
  margin-right: 36px;
}

/* стилизация фильтрации */
.sorting-filter {
  display: flex;
  flex-direction: column;
}

.filter-product {
  width: 320px;
  margin-right: 40px;
}

.sorting-header {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-option {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}


.sorting-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.sorting-filter-group label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

/* стилизация сортировки сверху карточек товара */
.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting-option .button {
  width: 10px;
  height: 10px;
}


/* стилизация карточек товара */

.catalog-right-column {
  width: 840px;
}

.product-list {
  padding: 0;
  margin: 0;
  list-style-type: none;


  background-color: #FFFFFF;
}

.product-card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

/* стилизация кнопки Загрузить ещё */
.pagination-load-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* стилизация пагинации */

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  align-items: center;

  color: inherit;
  background-color: #EBEBEB;
}

.pagination-item .pagination-prev {
  margin-right: 150px;
}

.pagination-item .pagination-next {
  margin-left: 150px;
}

.pagination-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;

  display: block;
  padding: 15px;
  margin: 15px;
}
