@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* стилизация хэдэра */
.page-header {
  background-color: #FFFFFF;
  color: #000000;
  margin: 0 auto;
  width: 1040px;
  margin-top: 0 auto;
  margin-top: 18px;
}


/* мелкие сетки: логотип хэдэра */
.logo-page-header-link {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
}

/* мелкие сетки: форма поиска и меню пользователя */

.navigation-form {
  display: flex;
  margin-bottom: 30px;
}

.navigation-product-search {
  margin-right: 26px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-product-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: inherit;
  background-color: inherit;
}

.navigation-link {
  margin-left: 18px;
  padding: 8px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user li:first-child {
  margin-right: 150px;
}

/* мелкие сетки: каталог с плюсиком и ссылки */

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* .header-menu-item {

} */

/*  слайдер */

.slider-item {
  display: flex;
  width: 1111px;
  margin-top: 2px;
  margin-bottom: 70px;
}

.slider-description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;

  /* мелкая сетка слайдер, сказали на гридах лучше делать */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


.slider-current {
  /* мелкая сетка слайдер, лучше на гридах */
  min-width: 250px;
  min-height: 135px;
  margin-right: auto;

  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #FFE17F;
  text-align: right;
}

/* мелкие сетки: три точки(пагинация) товара слайдерах */
.slider-pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.slider-description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}

.slider-description-item {
  color: #444444;
}

.slider-advanteges dt {
  font-size: 36px;
}

.slider-advanteges dd {
  font-size: 16px;
  color: #444444;
}

/* стилизация ссылок категории товаров */

/* мелкие сетки: стилизация ссылок категории товаров */


.categoty-list {
  margin-bottom: 70px;
}

.category-list-item {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-right: 40px;
}

.categoty-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.02em;

  display: flex;
  flex-direction: column;
  min-width: 160px;
  min-height: 253px;
}




/* стилизация ссылок возможностей сервиса */

/* мелкие сетки: контейнер возможностей сервиса */
.advanteges-wrapper {
  display: flex;
  margin-bottom: 70px;

}
.advanteges-container {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  color: inherit;
  background-color: #F0F0F0;
}

/* мелкие сетки: стилизация меню возможностей */
.advanteges-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

.advanteges-link {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 12px;
  margin-top: 64px;
  margin-right: 120px;

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

}

.advanteges-link-current {
  color: #FFE17F;
  background-color: #000000;
}

/* стилизация описаний возможностей сервиса */
.advanteges-text-container {
  color: inherit;
  background-color: #F0F0F0;

  display: flex;
}

.advanteges-delivery {
  padding: 0;
  margin: 0;
  margin-left: 116px;
}

.image-advanteges {
  display: block;

}

.advanteges-header {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;

  margin-bottom: 34px;
}

.advanteges-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

/* стилизации доставки редкого товара */

/* мелкие сетки: стилизация доставки редкого товара */



.delivery-exclusive-service {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 70px;
  margin: 0 auto;
  width: 1160px;

  color: inherit;
  background-color: #F0F0F0;
}

.delivery-exclusive-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* стилизация части о компании */

.index-columns {
  display: flex;
  margin-top: 70px;

}

.about {
  width: 520px;
  margin-right: 130px;
  margin-left: 140px;
}

.contacts {
  width: 532px;

}

.about h2, .contacts h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.about p, .contacts p {
  font-style: normal;
  color: #444444;
}

.about ul {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about h3, .contacts h3 {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.contacts-phone {
  color: #444444;;
  font-style: normal;
  text-decoration: underline;
}

.contacts ul {
  color: #444444;
}

/* стилизация рассылки */

.subscription-wrapper {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #F0F0F0;
  margin-top: 80px;
}


.subscription-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.subscription-description {
  color: #444444;
}

.postscript {
  color: #444444;
}

/* стилизация футера */

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}


.page-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
}

.footer-menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}


.footer-contacts-phone {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  color: inherit;
  text-decoration-line: underline;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

/* стилизация каталога */


/* стилизация заголовка */
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: inherit;
}

/* стилизация хлебных крошек */
.breadcrumbs {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: inherit;
}

.breadcrumbs-item-link {
  text-decoration: none;
  color: inherit;
}

/* стилизация фильтрации */
.sorting {
  color: inherit;
  background-color: #F0F0F0;
}

.sorting-filter {
  display: flex;
}

.filter-product {
  width: 320px;
  margin-right: 40px;
}

.sorting-header {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-option {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
}

.sorting-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.sorting-filter-group label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

/* стилизация карточек товара */
.catalog-right-column {
  width: 840px;
}

.product-list {
  background-color: #FFFFFF;
}

.product-card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-link {
  color: inherit;
  text-decoration: none;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

/* стилизация кнопки Загрузить ещё */
.pagination-load-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* стилизация пагинации */

.pagination {
  color: inherit;
  background-color: #EBEBEB;
}

.pagination-link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
}
